.table-wrapper{
    //wraps table to make it responsive
overflow-x: auto;
max-width: 90vw;
@media(min-width:$md){
    max-width: 100%;
}
}
.std-table{//standard table settings

    width: 100%;
    margin-bottom: $spacer-3;

    th{
        text-align: left;
    }
    td{
        border-bottom: 1px solid $primary;
    }
    tr:nth-child(even){
        background-color: $primary-900;
    }

}

.guest-list-actions{
    width: 50%;
    max-width: 100px;
 
    display: flex;
    justify-content:left;
    gap: $spacer-3;
    padding: $spacer-1;
    font-size: 1.25rem;
}

.meal-choices{
    
    width: 100%;
    margin-bottom: $spacer-3;
    border-collapse: collapse;
    th{
        text-align: left;
        background-color: $primary-900;
        padding: $spacer-2;
        &:first-of-type{
            border-top-left-radius: 5px;
        }
        &:last-of-type{
            border-top-right-radius: 5px;
        }
    }
    td{
       padding: $spacer-2
    }

}
.guest-name-col{
    background-color: $primary-950;
    border-bottom: 2px double $primary;
    
}

