.std-table{//standard table settings
    max-width: 95vw;
    margin-bottom: $spacer-3;
    overflow-x: auto;
    th{
        text-align: left;
    }
    td{
        border-bottom: 1px solid $primary;
    }
    tr:nth-child(even){
        background-color: $primary-900;
    }
    @media(min-width: $md){
        width: 100%;
    }
}

.guest-list-actions{
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: $spacer-1;
    font-size: 1.25rem;
}